.jb_insert-line {
  position: fixed;
  width: 100%;
  height: 2px;
  background-color: #FE9ED5;
  z-index: 99999999;

  .jb_plus-button {
    height: 48px;
    width: 48px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #FC3DAB;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    cursor: pointer;

    svg {
      height: 24px;
      width: 24px;
    }
  }
}
