$sidebar-background-color: #151515;
$line-color: #E6E8EB;
$placeholder-text-color: #A5A7A8;
$label-color: #8c9fa8;
$text-color: #1d1d1d;
$title-color: #3d464d;
$main-color: #FC3DAB;
$main-color-hover: #d61c88;
$secondary-color: #B372FF;
$secondary-color-hover: #8832ED;
$tertiary-color: #FFCE18;
$peach-color: #F79D7B;
$blue-color: #0054FE;
$green-color: #09D3A5;
$light-blue-color: #E3ECFF;
$error-color: #ff0200;
$dark-gray-color: #666666;
$modal-background-color: rgba(99, 114, 130, .5);

$color-secondary: #5a5a5a;
$color-success: #28a745;
$color-danger: #f60e00;
$color-warning: $tertiary-color;
$color-info: $blue-color;

iframe {
  border: 0;
}

.jb_insert-line {
  position: fixed;
  width: 100%;
  height: 2px;
  background-color: #FE9ED5;
  z-index: 99999998;
  top: 150%;

  .jb_plus-button {
    height: 48px;
    width: 48px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #FC3DAB;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    cursor: pointer;

    svg {
      height: 24px;
      width: 24px;
    }
  }
}

.jb_block-container {
  width: 100%;
  position: relative;

  iframe {
    width: 100%;
  }

  &.jb_block-comments {
    height: 84px;
    overflow: hidden;
  }

  &.jb_block-sidebar {
    z-index: 2147483647;
    position: fixed;
    background-color: rgba(0,0,0,0);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition-duration: .2s;
    transition-delay: .1s;
    pointer-events: none;

    .jb_backdrop  {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    iframe {
      position: absolute;
      right: -350px;
      width: 350px;
      max-width: 100%;
      background: white;
      height: 100%;
      transition-duration: .2s;
    }

    &.open {
      background-color: rgba(0,0,0,.4);
      pointer-events: all;
      backdrop-filter: blur(5px);

      iframe {
        right: 0;
        transition-delay: .1s;
        box-shadow: 0 0 30px rgba(0,0,0,.2);
      }
    }
  }

  .jb_disable-overlay {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba($text-color, .5);
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
  }

  &:hover {
    .jb_disable-overlay {
      display: flex;
    }
  }
}

.jb_tooltip-container {
  display: none;
  position: fixed;
  z-index: 999999999;
  height: 270px;
  transform: translateX(-50%);

  &.show {
    display: block;
  }

  iframe {
    height: 100%;
    width: 800px;
  }
}

.jb_toolbar-container {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;

  iframe {
    width: 100%;
    position: fixed;
    bottom: 0;
    max-height: 56px;
    box-shadow: 0 0 30px rgba(60,60,60,.3);
    background-color: #222;
  }
}

.jb_close-preview-button {
  background: linear-gradient(330deg, #272727 0%, #1b1b1b 60%);
  color: white;
  box-shadow: 0 0 20px rgba(0,0,0,.15);
  transition-duration: .2s;
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 99999998;
  border-radius: 5px;
  border: 1px solid black;
  padding: 12px 20px;
  font-weight: 800;
  font-size: 14px;
  min-height: 32px;
  min-width: 99px;
  cursor: pointer;
  display: block;
  text-transform: uppercase;
  font-family: sans-serif;
  box-sizing: border-box;

  &:hover {
    bottom: 18px;
  }
}

.jb_edit-banner {
  position: fixed;
  bottom: 15px;
  background: #1b1b1b;
  background: linear-gradient(330deg, #1b1b1b 0%, #303030 100%);
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(8,18,38,0.3);
  transition-duration: .2s;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999999999;
  padding: 8px 0;
  cursor: pointer;
  font-weight: 700;
  min-width: 145px;

  &.save-button {
    margin-left: 80px;
  }

  &.preview-button {
    margin-left: -80px;
    background: white;

    &:hover {
      background: white;
    }

    .jb_banner-content {
      .jb_banner-text {
        color: #1b1b1b;
      }
    }
  }

  &.back-button {

  }

  &:hover {
    bottom: 18px;
    background: linear-gradient(330deg, #1f1f1f 0%, #3a3a3a 100%);
    text-decoration: none;

    //.jb_banner-content {
    //  .jb_banner-text {
    //    color: $main-color;
    //  }
    //}
  }

  .jb_banner-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    .jb_banner-text {
      margin: 0;
      color: white;
      text-decoration: none;
      font-weight: bold;
    }

    .jb_save-button {
      $button-border-radius: 6px;

      border-radius: $button-border-radius;
      padding: 8px 20px;
      border: 1px solid $main-color;
      transition-duration: .2s;
      text-align: center;
      cursor: pointer;
      background-color: $main-color;
      color: #fefefe;
      font-weight: bold;
      position: relative;
      text-decoration: none;

      &:hover {
        background-color: $main-color-hover;
        border-color: $main-color-hover;

        &::before {
          background-color: $text-color;
        }
      }

      &::before {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        background-color: $main-color-hover;
        border-radius: $button-border-radius;
        z-index: -1;
        transition-duration: .2s;
      }
    }
  }
}
